<div class="row">
    <div class="col-md-6" data-role="tuner">
        <%= render :partial => "article", :locals => { articles: @news, nps_rating: true } %>
    </div>

    <div class="col-md-6">
        <div class="well well-sm" data-role="result"></div>
    </div>
</div>

<%= javascript_tag do %>
    var analyzer;
    $(function() {
        var ca = new CheckedAfter();
        ca.select_triger();
        ca.result_scroll_trigger();

        analyzer = new InstantAnalyzer();
    });
<% end %>
