<table class="cells table table-striped table-hover"></table>

<%= javascript_tag do %>
    $(function() {
        var picker = new Picker("<%= Settings.api.host %>");
        picker.fetch({});
    });
<% end %>
